@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;500&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;500&family=Playfair+Display:wght@900&family=Roboto:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}
header{
    height: 6.7vw;
    width: 100vw;
    display: flex;
    background-color: white;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    z-index: 80;
}
.logo img{
    height: 4.2vw;
    width: 8.7vw;
}
nav ul{
    list-style: none;
    display: flex;
    color: #9767A9;
    height: 1.7vw;
    width: 50vw;
    justify-content: space-between;
    font-size: 1.35vw;
}
nav li:hover{
    font-weight: 800;
    cursor: pointer;
}
.busca input{
    height: 3.1vw;
    width: 16vw;
    border: 3px solid #9767A9;
    border-radius: 8.2vh;
    padding-left: 3vw;
    background-image: url("./img/lupa.png");
    background-position: 0.8vw;
    background-repeat: no-repeat;
}
.redes-sociais{
    display: flex;
    height: 3.1vw;
    width: 11.7vw;
    justify-content: space-evenly;
}
.redes-sociais img{
    width: 3.1vw;
    height: 3.1vw;
}
main{
    color: #fff;
    padding-top: 6.7vw;
}
.cabeludo{
    height: 60vw;
    width: 98.7vw;
    background-image: url("./img/cabeludo.png");
    background-repeat: no-repeat;
    background-size: 100vw 60vw;
    position: relative;
}
.titulo{
    display: flex;
    position: absolute;
}
.titulo h1{
    position: absolute;
    left: 15vw;
    top: 28vw;
    font-size: 6.7vw;
    font-family: 'Playfair Display';
}
.titulo div{
    height: 7.6vw;
    width: 28vw;
    position: absolute;
    left: 56vw;
    top: 32vw;
}
.titulo p{
    font-size: 2.4vw;
}
.dicas{
    position: relative;
}
.intro{
    height: 29.5vw;
    width: 98.7vw;
    background-color: #9767A9;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
}
.intro-titulo{
    width: 60vw;
    height: 15vw;
    font-size: 2vw;
    font-family: 'Playfair Display';
}
.intro-titulo h2{
    font-size: 4vw;
    font-family: 'Playfair Display';
}
.intro-p{
    width: 30vw;
    height: 21vw
}
.intro-p p{
    font-size: 1.4vw;
}
.dica-num1 img{
    width: 40vw;
    height: 30vw;
    position: absolute;
    left: 6.5vw;
    top: 26vw;
}
.dica-num1 div{
    background-color: #9767A9;
    height: 36vw;
    width: 32vw;
    position: absolute;
    left: 11vw;
    top: 51vw;
    padding: 2vw;
}
.dica-num1 h3{
    font-size: 2.7vw;
    text-align: left;
    font-family: 'Playfair Display';
    padding-bottom: 1vw;
}
.dica-num1 p{
    font-size: 1.32vw;
}
.dica-num2 img{
    width: 45vw;
    height: 35vw;
    position: absolute;
    right: 6.5vw;
    top: 50vw;
}
.dica-num2 div{
    background-color: #9767A9;
    height: 34vw;
    width: 32vw;
    position: absolute;
    padding: 2vw;
    right: 11vw;
    top: 80vw;
}
.dica-num2 h3{
    font-size: 2.7vw;
    text-align: left;
    font-family: 'Playfair Display';
    padding-bottom: 1vw;
}
.dica-num2 p{
    font-size: 1.32vw;
}