@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;500&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;500&family=Playfair+Display:wght@900&family=Roboto:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}
header{
    height: 6.7vw;
    width: 100vw;
    display: flex;
    background-color: white;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    z-index: 80;
}
.logo img{
    height: 4.2vw;
    width: 8.7vw;
}
nav ul{
    list-style: none;
    display: flex;
    color: #9767A9;
    height: 1.7vw;
    width: 50vw;
    justify-content: space-between;
    font-size: 1.35vw;
}
nav li:hover{
    font-weight: 800;
    cursor: pointer;
}
.busca input{
    height: 3.1vw;
    width: 16vw;
    border: 0.23vw solid #9767A9;
    border-radius: 8.2vh;
    padding-left: 3vw;
    background-image: url("./img/lupa.png");
    background-position: 0.8vw;
    background-repeat: no-repeat;
}
.redes-sociais{
    display: flex;
    height: 3.1vw;
    width: 11.7vw;
    justify-content: space-evenly;
}
.redes-sociais img{
    width: 3.1vw;
    height: 3.1vw;
}
main{
    color: #fff;
    padding-top: 6.7vw;
}
.cabeludo{
    height: 60vw;
    width: 98.7vw;
    background-image: url("./img/cabeludo.png");
    background-repeat: no-repeat;
    background-size: 100vw 60vw;
    position: relative;
}
.titulo{
    display: flex;
    position: absolute;
}
.titulo h1{
    position: absolute;
    left: 15vw;
    top: 28vw;
    font-size: 6.7vw;
    font-family: 'Playfair Display';
}
.titulo div{
    height: 7.6vw;
    width: 28vw;
    position: absolute;
    left: 56vw;
    top: 32vw;
}
.titulo p{
    font-size: 2.4vw;
}
.dicas{
    position: relative;
}
.intro{
    height: 29.5vw;
    width: 98.7vw;
    background-color: #9767A9;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
}
.intro-titulo{
    width: 60vw;
    height: 15vw;
    font-size: 2vw;
    font-family: 'Playfair Display';
}
.intro-titulo h2{
    font-size: 4vw;
    font-family: 'Playfair Display';
}
.intro-p{
    width: 30vw;
    height: 21vw
}
.intro-p p{
    font-size: 1.4vw;
}
.dica-num1 img{
    width: 43vw;
    height: 33vw;
    position: absolute;
    left: 6vw;
    top: 26vw;
}
.dica-num1 div{
    background-color: #9767A9;
    height: 34vw;
    width: 32vw;
    position: absolute;
    left: 11vw;
    top: 51vw;
    padding: 2vw;
}
.dica-num1 h3{
    font-size: 2.7vw;
    text-align: left;
    font-family: 'Playfair Display';
    padding-bottom: 1vw;
}
.dica-num1 p{
    font-size: 1.32vw;
    text-align: left;
}
.dica-num2 img{
    width: 43vw;
    height: 33vw;
    position: absolute;
    right: 6vw;
    top: 50vw;
}
.dica-num2 div{
    background-color: #9767A9;
    height: 34vw;
    width: 32vw;
    position: absolute;
    padding: 2vw;
    right: 11vw;
    top: 74vw;
}
.dica-num2 h3{
    font-size: 2.7vw;
    text-align: left;
    font-family: 'Playfair Display';
    padding-bottom: 1vw;
}
.dica-num2 p{
    font-size: 1.32vw;
    text-align: left;
}
.dica-num3 img{
    width: 43vw;
    height: 33vw;
    position: absolute;
    left: 6vw;
    top: 86vw;   
}
.dica-num3 div{
    background-color: #9767A9;
    height: 28vw;
    width: 32vw;
    position: absolute;
    padding: 2vw;
    left: 11vw;
    top: 110vw;
}
.dica-num3 h3{
    font-size: 2.7vw;
    text-align: left;
    font-family: 'Playfair Display';
    padding-bottom: 1vw;
}
.dica-num3 p{
    font-size: 1.32vw;
    text-align: left;
}
.dica-num4 img{
    width: 43vw;
    height: 33vw;
    position: absolute;
    right: 6vw;
    top: 109vw;
}
.dica-num4 div{
    background-color: #9767A9;
    height: 31vw;
    width: 32vw;
    position: absolute;
    padding: 2vw;
    right: 11vw;
    top: 140vw;
}
.dica-num4 h3{
    font-size: 2.7vw;
    text-align: left;
    font-family: 'Playfair Display';
    padding-bottom: 1vw;
}
.dica-num4 p{
    font-size: 1.32vw;
    text-align: left;
}
.dica-num5 img{
    width: 43vw;
    height: 33vw;
    position: absolute;
    left: 6vw;
    top: 142vw;
}
.dica-num5 div{
    background-color: #9767A9;
    height: 32vw;
    width: 32vw;
    position: absolute;
    padding: 2vw;
    left: 11vw;
    top: 166vw;
}
.dica-num5 h3{
    font-size: 2.7vw;
    text-align: left;
    font-family: 'Playfair Display';
    padding-bottom: 1vw;
}
.dica-num5 p{
    font-size: 1.32vw;
    text-align: left;
}
.dica-num6 img{
    width: 43vw;
    height: 33vw;
    position: absolute;
    right: 6vw;
    top: 172vw;
}
.dica-num6 div{
    background-color: #9767A9;
    height: 24vw;
    width: 32vw;
    position: absolute;
    padding: 2vw;
    right: 11vw;
    top: 200vw;
}
.dica-num6 h3{
    font-size: 2.7vw;
    text-align: left;
    font-family: 'Playfair Display';
    padding-bottom: 1vw;
}
.dica-num6 p{
    font-size: 1.32vw;
    text-align: left;
}
.dica-num7 img{
    width: 43vw;
    height: 33vw;
    position: absolute;
    left: 6vw;
    top: 205vw;
}
.dica-num7 div{
    background-color: #9767A9;
    height: 22vw;
    width: 32vw;
    position: absolute;
    padding: 2vw;
    left: 11vw;
    top: 229vw;
}
.dica-num7 h3{
    font-size: 2.7vw;
    text-align: left;
    font-family: 'Playfair Display';
    padding-bottom: 1vw;
}
.dica-num7 p{
    font-size: 1.32vw;
    text-align: left;
}
.fio img{
    height: 5vw;
    width: 30vw;
    position: absolute;
    right: 11vw;
    top: 232vw;
}
.grid{
    position: relative;
    top: 258vw;
    display: grid;
    justify-content: space-around;
    align-items: flex-start;
    width: 98vw;
    height: 55vw;
    padding: 3vw;
}
.img-grid1{
    width: 22vw;
    height: 33vw;
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 3;
}
.img-grid2{
    width: 22vw;
    height: 12vw;
    grid-column: 1;
    grid-row:3;
}
.img-grid3{
    width: 14vw;
    height: 17vw;
    grid-column: 2;
    grid-row: 1;
}
.img-grid4{
    width: 14vw;
    height: 16vw;
    grid-column: 2;
    grid-row: 2;
}
.img-grid5{
    width: 14vw;
    height: 12vw;
    grid-column: 2;
    grid-row: 3;
}
.img-grid6{
    width: 16vw;
    height: 33vw;
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}
.img-grid7{
    width: 14vw;
    height: 12vw;
    grid-column: 3;
    grid-row: 3;
    margin:0 1vw 0 1vw;
}
.img-grid8{
    width: 22vw;
    height: 47.5vw;
    grid-column: 4;
    grid-row-start: 1;
    grid-row-end: 4;
}
.img-grid9{
    width: 13.5vw;
    height: 13vw;
    grid-column: 5;
    grid-row: 1;
}
.img-grid10{
    width: 13.5vw;
    height: 29.5vw;
    grid-column: 5;
    grid-row-start: 2;
    grid-row-end: 4;
}
footer{
    background-color: #9767A9;
    height: 8.2vw;
    width: 98vw;
    position: absolute;
    top: 380vw;
    display: flex;
}
footer img{
    width: 2.9vw;
    height: 2.7vw;
}
.referencias{
    width:60vw;
}
.voltar{
    display: flex;
    width: 35;
}